.header{
    height: 80px;
    
}


.header_title{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
    
}

.search-box{
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.search-box:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.search-city{
    text-align: center;
}

.confirm {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:17px;
    margin-left: 10px;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7791da;
}
.confirm:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.confirm:active {
	position:relative;
	top:0px;
}

#add_btn{
    float: right;
    width: 20px;
    height: 20px;
    border: 0px;
    cursor: pointer;
    margin-right: 20px;
}
#refresh_btn{
    float: left;
    width: 20px;
    height: 20px;
    border: 0px;
    cursor: pointer;
    margin-left: 20px;
}

.dialog-container{
    
    background-image: url(/images/bgdialog.jpeg);
    background-size:cover;
    background-repeat: no-repeat; 
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 9999;
    margin: auto;
    border-radius: 10px;
}

.dialog-title{
    font-size: 150%;
    text-align: center;
    margin-top: 5px;
}

#selectCityToAdd{
    width: 150px;
    height: 30px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: auto;
    border-radius: 10px;
}

#butAddCity{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

#butAddCancel{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

.container-card{
    background-image: url("/images/weatherbackground/rainImg.jpg");
    background-size: cover;
    margin-top: 20px;
    position: relative;
    width: 90%;
    height: 300px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 20px;
    margin: auto;
    border-radius: 10px;
}

.card-default{
    
    position: relative;
    height: 90%;
    width: 90%;
    left: 5%;
    right: 0px;
    bottom: 0px;
    top: 5%;

}

.image-weather{
    width: 200px;
    height: 100px;
    
}

.weather-icon{
    position: absolute;
    top:0;
	bottom:0;
	left:0;
	right:200px;
	margin:auto;
    width: 130px;
    height: 130px;
}

.dialog-body{
    opacity: 0.8;
}

.discription-weather{
    position: absolute;
    top:100px;
	bottom:0;
	left:200px;
    right:0;
    text-align: center;
    color: #ffffff;
	
}

.degree{
    font-size: 50px;
}

.city{
    font-size: 30px;
}


